$font-family: 'Roboto';
$text-color: #444b52;
$graye: #999999;
$praimery: #4044ed;
$white-15: #ffffff26;
$gray500: #939ca3;
$bg-input: #27262c;
$blue-eye: #03a9f4;
$yellow-pen: #ffc107;
$red-delete: #e34724;
$bg-box: #f4f4f4;
$text-hd-tb: #556885;
