@import '../../../components/GlobalStyles/variables';

.header {
    width: 100%;
    background-color: #000;
}
.container {
    max-width: 1200px;
    padding: 12px;
    margin: 0 auto;
}
.wrap-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        text-decoration: none;
        display: flex;
        align-items: center;
        img {
            width: 84px;
            height: 32px;
            border-left: 1px solid $white-15;
            padding-left: 8px;
        }
        p {
            font-size: 36px;
            color: white;
            padding-right: 8px;
            font-family: 'Times New Roman', Times, serif;
        }
    }
    .search {
        max-width: 476px;
        width: 100%;
        background-color: $white-15;
        display: flex;
        align-items: center;
        padding: 8px 6px;
        border-radius: 4px;
        height: 28px;
        input {
            padding-left: 4px;
            flex: 1;
            border: none;
            outline: none;
            background: transparent;
            color: $gray500;
        }
    }
    .user {
        display: flex;
        align-items: center;
        gap: 8px;
        .account {
            display: flex;
            align-items: center;
        }
        .cart {
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 14px;
            gap: 4px;
        }
    }
}
